<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品添加</title>
	<link rel="stylesheet" type="text/css" href="/css/addMerchandise.css">
	<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
	<h1>
		<span><a target="mainRight" href="/productList">商品列表</a></span>
		<span><a href="">ECSHOP 管理中心</a></span>
		<span><a href=""> - 添加新商品 </a></span>
		<span><a href=""><img src="/images/jnsy.png"></a></span>
	</h1>
	<div id="add_con1">
		<ul class="add_com1">
			<li>通用信息</li>
			<li>详细描述</li>
			<li>其他信息</li>
			<li>商品属性</li>
			<li>商品相册</li>
			<li>关联商品</li>
			<li>配件</li>
			<li>关联文章</li>
		</ul>
		<ul class="add_com2">
			<form >
				<li>
					<table style="width:90%" align="center">
						<tr>
							<td class="label">商品名称:</td>
							<td>
								<input type="text" style="float: left;background-size: 16px 18px;background-position:98% 50%">
								<div id="font-color" style="float:left;background-color:rgb(0,204.255) margin:10px 0 0 5px" onclick="" ><img src="/images/color_selecter.gif" alt=""></div>
								<select name="" id="">
									<option value="">字体样式</option>
									<option value="">加粗</option>
									<option value="">斜体</option>
									<option value="">下划线</option>
									<option value="">删除线</option>
								</select>
								<span class="require-field">*</span>
							</td>
						</tr>
					</table>
				</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
				<li>6</li>
				<li>7</li>
				<li>8</li>
			</form>
		</ul>
		<script type="text/javascript" src="/js/add.js"></script>
	</div>
</body>
</html>