<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品添加</title>
	<link rel="stylesheet" type="text/css" href="/css/addMerchandise.css">
	<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
	<h1>
		<span><a target="mainRight" href="/productList">商品列表</a></span>
		<span><a href="">ECSHOP 管理中心</a></span>
		<span><a href=""> - 添加新商品 </a></span>
		<span><a href=""><img src="/images/jnsy.png"></a></span>
	</h1>
	<div id="add_con1">
		<ul class="add_com1">
			<li>通用信息</li>
			<li>详细描述</li>
			<li>其他信息</li>
			<li>商品属性</li>
			<li>商品相册</li>
			<li>关联商品</li>
			<li>配件</li>
			<li>关联文章</li>
		</ul>
		<ul class="add_com2">
		<!--  -->
			<form id="frm" action="/api/addMerchandise"  method="post" enctype="multipart/form-data" >
				<li style="display: block;">
					<table style="width:90%" align="center">
						<tr style="height: 50px;">
							<td class="label">商品名称:</td>
							<td>
								<input id="goods_name" name="goods_name" type="text" style="float: left;margin:7px 5px 0 0;background-size: 16px 18px;background-position:98% 50%">
								<div id="font-color" style="float:left;background-color:rgb(0,204.255) margin:10px 0 0 5px" onclick="" ><img src="/images/color_selecter.gif" alt=""></div>
								<select name="" id="" style="margin-left:10px">
									<option value="">字体样式</option>
									<option value="">加粗</option>
									<option value="">斜体</option>
									<option value="">下划线</option>
									<option value="">删除线</option>
								</select>
								<span class="require-field">*</span>
							</td>
						</tr>
						<tr>
							<td class="label"><a href=""><img src="/images/notice.gif"></a>商品货号:</td>
							<td>
								<input type="text" style="float: left;margin:10px 5px 0 0;background-size: 16px 18px;background-position:98% 50%"><br>
								<span style="color:#666;display:block;font-size: 12px;">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span>
							</td>
						</tr>
						<tr>
							<td class="label">商品分类:</td>
							<td>
								<select style="width:120px;">
									<option>请选择...</option>
									<option>请选择...</option>
									<option>请选择...</option>
									<option>请选择...</option>
								</select>
								<a class="special" href="javascript:;" style="margin:0 5px;font-size:12px;font-weight:400;border-bottom:2px solid #278296;border-right:2px solid #278296;background:#DDEEF2">添加分类</a>
								<span id="category_add" style="display: none">
									<input type="text" style="width:50px;" >
									<a class="special" href="javascript:;">确定</a>
									<a class="special" href="javascript:;">分类管理</a>
									<a class="special pp" href="javascript:;" onclick="hideCateDiv()"><<</a>
								</span>
								<span class="require-field">*</span>
							</td>
						
						</tr>
						<tr>
							<td class="label">扩展分类:</td>
							<td >
								<input type="button" value="添加" style="background:#f00;border:0;width:40px;height: 30px;border-radius: 5px;outline:none;">
								<select style="width:150px;">
									<option>请选择...</option>
									<option>请选择...</option>
									<option>请选择...</option>
									<option>请选择...</option>
								</select>
							</td>
						</tr>
						<tr>
							<td class="label">商品品牌:</td>
							<td>
								<select style="width:120px;">
									<option>请选择...</option>
									<option>请选择...</option>
									<option>请选择...</option>
									<option>请选择...</option>
								</select>
								<a class="special" href="javascript:;" style="margin:0 5px;font-size:12px;font-weight:400;border-bottom:2px solid #278296;border-right:2px solid #278296;background:#DDEEF2">添加品牌</a>
								<span id="category_add" style="display: none">
									<input type="text" style="width:50px;" >
									<a class="special" href="javascript:;">确定</a>
									<a class="special" href="javascript:;">品牌管理</a>
									<a class="special pp" href="javascript:;"><<</a>
								</span>
							
							</td>
						
						</tr>
						<tr>
							<td class="label">本店售价:</td>
							<td>
								<input id="goods_price" name="goods_price" type="text" size="20">
								<input type="button"value="按市场价算" style="border:1px solid #ccc;color:#192E32;font-size:12px;">
								<span class="require-field">*</span>
							</td>
						</tr>
						<tr>
							<td class="label"><a href=""><img src="/images/notice.gif"></a>会员价格:</td>
							<td>
								注册用户 <input type="text" size="10"> 代销用户 <input type="text" size="10"> vip <input size="10" type="text"><br>
								<span style="color:#666;display:block;font-size: 12px;">会员价格为-1时表示会员价格按会员等级折扣率计算。你也可以为每个等级指定一个固定价格</span>
							</td>
						</tr>
						<tr>
							<td class="label"><a href=""><img src="/images/notice.gif"></a>商品优惠价格:</td>
							<td>
								<a href="">[+]</a> 优惠数量 <input type="text" size="10"> 优惠价格 <input type="text"><br>
								<span style="color:#666;display:block;font-size: 12px;">购买数量达到优惠数量时享受的优惠价格</span>
							</td>
						</tr>
						<tr>
							<td class="label">市场售价:</td>
							<td>
								<input type="text" value="0"><input type="button"value="取整数" style="margin-left:5px;border:1px solid #ccc;color:#192E32;font-size:12px;">

							</td>
						</tr>
						<tr>
							<td class="label">虚拟销量:</td>
							<td>
								<input type="text" value="0">

							</td>
						</tr>
						<tr>
							<td class="label"><a href=""><img src="/images/notice.gif"></a>赠送消费积分:</td>
							<td>
								<input type="text" ><br>
								<span style="color:#666;display:block;font-size: 12px;">购买该商品时赠送消费积分数,-1表示按商品价格赠送</span>
							</td>
						</tr>
						<tr>
							<td class="label"><a href=""><img src="/images/notice.gif"></a>赠送等级积分:</td>
							<td>
								<input type="text" ><br>
								<span style="color:#666;display:block;font-size: 12px;">购买该商品时赠送等级积分数,-1表示按商品价格赠送</span>
							</td>
						</tr>
						<tr>
							<td class="label"><a href=""><img src="/images/notice.gif"></a>积分购买金额:</td>
							<td>
								<input type="text" ><br>
								<span style="color:#666;display:block;font-size: 12px;">(此处需填写金额)购买该商品时最多可以使用积分的金额</span>
							</td>
						</tr>
						<tr>
							<td class="label"><input type="checkbox" style="width:15px;height:15px;margin-right: 5px">虚拟销量:</td>
							<td>
								<input type="text" value="0">
							</td>
						</tr>
						<tr>
							<td class="label">扩展分类:</td>
							<td >
								<input type="text" value="" size="10">
								<input type="button" value="选择" style="background:#f00;border:0;width:40px;height: 20px;border-radius: 5px;outline:none;"> - <input type="text" value="" size="10">
								<input type="button" value="选择" style="background:#f00;border:0;width:40px;height: 20px;border-radius: 5px;outline:none;">
								
							</td>
						</tr>
						<tr>
							<td class="label">上传商品图片:</td>
							<td>
								<input id="oImg" type="file" name="img"  value="浏览..." size="35">
								<img src="/images/no.gif"><br>
								<input type="text" size="40" placeholder="商品图片外部URL">
							</td>
						</tr>
						<tr>
							<td class="label">上传商品缩略图:</td>
							<td>
								<input type="file" name="" value="浏览..." size="35">
								<img src="/images/no.gif"><br>
								<input type="text" size="40" placeholder="商品缩略图外部URL"><br>
								<label><input type="checkbox" style="width:15px;height:15px">自动生成商品缩略图</label>
								
							</td>
						</tr>
					</table>
				</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
				<li>6</li>
				<li>7</li>
				<li>8</li>
				<div class="button-div">
					<input class="button"  type="button" style="width:60px;height: 30px;background:#ff3f3f;padding:5px 15px 5px;color:#fff;border-radius: 5px;margin:5px;outline: none;border:0;" value="确定"><input class="button" type="reset" style="width:60px;height: 30px;background:#ff3f3f;padding:5px 15px 5px;color:#fff;border-radius: 5px;margin:5px;outline: none;border:0;" value="重置">
				</div>
			</form>
		</ul>
		<script type="text/javascript" src="/js/add.js"></script>
	</div>
	<div id="footer">共执行 12 个查询，用时 0.047650 秒，Gzip 已禁用，内存占用 3.194 MB<br>
版权所有 &copy 2005-2018 上海商派软件有限公司，并保留所有权利。
	</div>
</body>
</html>