<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ECSHOP管理中心</title>

</head>

	<frameset  rows="118,*" framespacing="0" border="0" >  
		<frame src="/mainTop" name="mainTop" scrolling="no"></frame>  
		<frameset  cols="180,10,*"  framespacing="0" border="0" >  
			  <frame src="/mainLeft" name="Left" framespacing="0" scrolling="yes"></frame>  
			  <frame src="/middle" name="middle" framespacing="0" scrolling="no"></frame> 
			  <frame src="/mainRight" name="Right" framespacing="0" scrolling="yes"></frame>  
		</frameset>
	</frameset>	


</html>