<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>导航栏</title>
	<link rel="stylesheet" type="text/css" href="/css/middle.css">
</head>
<body>
	<div id="middle_con">
		<img src="/images/arrow_right.gif">
	</div>
</body>
</html>