@charset "utf-8";
*{margin:0;padding:0;}
 ul,ol,li,a{list-style:none;}
 a,u{text-decoration:none}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:100;}
b,strong{font-weight:100;}
i,em{font-style:normal;}
.clearfix::after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}


/* top*/


#top{
	
	height:76px;
	background:#303030;
}
#top .top_con1{
	width:150px;
	height: 39px;
	padding:20px 0 0 30px;
	float:left 

}
#top .top_con1 img{
	display: block;
	width:150px;
	height: 39px;
}
#top .top_con2{
	width:1000px;
	height: 70px;
	/* background:pink;*/

	position:absolute;
	right:0;
	top:5px;

}
#top .top_con2 li{
	float: right;
	min-width: 82px;
	
	height:75px;
	text-align: center;
}
#top .top_con2 li img{
	display: block;
	width:40px;
	height:35px;
	margin:0 auto;
}
#top .top_con2 li span{
	color:#fff;
	margin-top:3px;
}


/*nav*/
#nav{
	height:42px;
	background:#575757;
} 
#nav li{
	min-width: 72px;
	height:41px;
	padding:0 10px;
	float: left;
}
#nav li>span{
	width:30px;
	height: 20px;
	border-radius: 5px;
	background:#f00;
	vertical-align: middle;
}
#nav li a{
	color:#fff;
	line-height: 41px;
	font-size:16px;
}
#nav li a>span{
	color:#fff;
	line-height: 41px;
	font-size:16px;
}
#nav li a>img{
vertical-align: middle;
}
.muneFG{
	width:0;
	display: inline-block;
	height:13px;
	border:1px solid #656565;
}